<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" />
    <title>QQ Simulator</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <form class="form-horizontal" role="form" id="uploadForm">
            <div class="row">
                <div class="col-md-8">
                    <fieldset>
                        <legend>Step1</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ds_host">SKU</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="sku" type="text" placeholder="SKU" />
                                <input class="form-control" id="printerId" type="hidden" placeholder="printerId" />
                            </div>
                            <!-- <div class="col-sm-4">
            <div class="col-sm-12">
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div> -->
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ds_username">PrintEmailId</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="printEmailId" type="text" placeholder="PrintEmailId" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ds_username"></label>
                            <div class="col-sm-4">
                                <button class="btn btn-default" id="generateQRCode">Generate QR Code</button>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Step2</legend>
                        <div class="form-group">
                            <label for="disabledSelect" class="col-sm-2 control-label">OR
                        code</label>
                            <div class="col-sm-4">
                                <img id="qRCode" src="" class="img-responsive" alt="通用的占位符缩略图">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ds_password"></label>
                            <div class="col-sm-4">
                                <button class="btn btn-default" id="scan">Scan</button>
                            </div>
                            <!-- <div class="col-sm-4">
            <div class="col-sm-12">
                <textarea class="form-control" rows="13"></textarea>
            </div>
        </div> -->
                        </div>
                        <!-- <div class="col-md-8">.col-md-8</div>
            <div class="col-md-4">.col-md-4</div> -->
                    </fieldset>
                    <fieldset>
                        <legend>Step3</legend>
                        <div class="form-group">
                            <label for="disabledSelect" class="col-sm-2 control-label">Printer
                        Model Name</label>
                            <input class="form-control" id="printerModelName" type="text" placeholder="Readonly input here…" readonly/>
                            <div class="col-sm-4"></div>
                        </div>
                        <div class="form-group">
                            <label for="disabledSelect" class="col-sm-2 control-label">Printer
                        Image</label>
                            <div class="col-sm-4">
                                <img id="printerImage" src="" class="img-responsive" alt="通用的占位符缩略图">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ds_username">Din</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="din" type="text" placeholder="Readonly input here…" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ds_username">Token</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="token" type="text" placeholder="Readonly input here…" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ds_username">Refresh
                        Token</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="refreshToken" type="text" placeholder="Readonly input here…" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ds_password"></label>
                            <div class="col-sm-4">
                                <button class="btn btn-default" id="binding">Binding</button>
                            </div>
                            <div class="col-sm-4" id="errorMsg" style="display: none">
                                <font color="red"><strong>该打印机已经绑定,请重新输入PrintEmailId再进行绑定</strong></font>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Step4</legend>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ds_username">PrintEmailId</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="checkPrintEmailId" type="text" placeholder="PrintEmailId" />
                            </div>
                            <label for="disabledSelect" class="col-sm-2 control-label">File
                        Upload</label>
                            <div class="col-sm-4">
                                <input class="input-file" id="file" type="file" name="file">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="disabledSelect" class="col-sm-2 control-label">Job
                        Settings</label>
                            <div class="col-sm-4">
                                <input class="input-file" id="fileInput" type="text" name="Select File">
                            </div>
                            </ </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="ds_password"></label>
                                <div class="col-sm-4">
                                    <button class="btn btn-default" id="uploadAndSubmit">Upload&Submit</button>
                                </div>
                            </div>
                    </fieldset>
                    <fieldset>
                        <legend>Log</legend>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea id="log" class="form-control" rows="5" readonly></textarea>
                            </div>
                        </div>
                    </fieldset>
                    </div>
                    <div class="col-md-4">
                        <fieldset>
                            <legend>Notification</legend>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <textarea class="form-control" rows="20" readonly></textarea>
                                </div>
                            </div>
                        </fieldset>

                    </div>
        </form>
        </div>

        </div>


        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/ajaxfileupload.js"></script>
        <script>
            $("#generateQRCode").click(function() {
                var sku = $("#sku").val();
                var emailId = $("#printEmailId").val();

                if (sku == null || sku == "" || sku == undefined) {
                    alert("请输入sku");
                    return false;
                }
                if (emailId == null || emailId == "" || emailId == undefined) {
                    alert("请输入emailId");
                    return false;
                }

                $.ajax({
                    method: "POST",
                    url: 'http://localhost:8088/qrcode/generate',
                    async: false, // 使用同步方式
                    // 1 需要使用JSON.stringify 否则格式为 a=2&b=3&now=14...
                    // 2 需要强制类型转换，否则格式为 {"a":"2","b":"3"}
                    //data: {"sku": "F5S46B","emailId": "iaby762uch58@emailinbound-test3.itcs.hp.com"},
                    data: JSON.stringify({
                        sku: sku,
                        emailId: emailId
                    }),

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data) {
                        $("#qRCode").attr("src", "data:image/png;base64," + data.data); //ajax调用后台服务成功后赋值
                        $("#printerId").val(data.content); //
                        $("#log").text(JSON.stringify(data)); //日志
                    },
                    error: function(e) {
                        $("#log").text(e.responseText); //日志
                        alert("调用服务失败!");
                    }

                });
            });

            $("#scan").click(function() {
                var printerId = $("#printerId").val(); //
                if (printerId == null || printerId == "" || printerId == undefined) {
                    alert("请先生成二维码图片!");
                    return false;
                }
                printerId = printerId.substring(printerId.lastIndexOf("printerId=") + 10);
                $.ajax({
                    method: "GET",
                    url: 'http://localhost:8088/scanQRCode/getSnAndPidByPinterId',
                    async: false, // 使用同步方式
                    /* data: JSON.stringify({
                                              printerId: printerId
                                          }),*/
                    data: {
                        printerId: printerId
                    },

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data) {
                        $("#log").text(); //先清空日志
                        $("#log").text(JSON.stringify(data)); //日志
                        $("#din").val(data.token.din); //
                        $("#token").val(data.token.token);
                        $("#printerModelName").val(data.model);
                        $("#printerImage").attr("src", data.printerLogoUrl); //ajax调用后台服务成功后赋值
                        $("#refreshToken").val(data.token.refreshToken);
                        if (data.newBinding == false) {

                            $('#binding').attr('disabled', "true"); //添加disabled属性
                            $('#errorMsg').attr('style', "display:block;"); //添加disabled属性

                        }
                    },
                    error: function(e) {
                        $("#log").text(e.responseText); //日志
                        alert("调用服务失败!");
                    }

                });
            });


            $("#binding").click(function() {
                alert("bindingbindingbinding");

            });


            /*$("#uploadAndSubmit").click(function () {
                var din = $("#din").val();
                var file = $("#file").val();
                var checkPrintEmailId = $("#checkPrintEmailId").val();
                if (checkPrintEmailId == null || checkPrintEmailId == "" || checkPrintEmailId == undefined) {
                    alert("请输入emailId");
                    return false;
                }

                if (file == null || file == "") {
                    alert('请选择要上传的文件!');
                    return;
                }
                $.ajaxFileUpload({
                                     url: "http://localhost:8088/printerJob/submitPrintJob?checkPrintEmailId=" + checkPrintEmailId,
                                     fileElementId: 'file',
                                     dataType: "application/json",
                                     success: function (data, status) {

                                         var reg = /<pre.+?>(.+)<\/pre>/g;
                                         var result = data.match(reg);
                                         data = RegExp.$1;

                                         debugger;
                                         alert(data);
                                     },

                                     error: function (data, status, e) {
                                         alert(e);
                                     }

                                 }
                );
            });*/

            $("#uploadAndSubmit").click(function() {
                var din = $("#din").val();
                var file = $("#file").val();
                var checkPrintEmailId = $("#checkPrintEmailId").val();
                if (checkPrintEmailId == null || checkPrintEmailId == "" || checkPrintEmailId == undefined) {
                    alert("请输入emailId");
                    return false;
                }

                if (file == null || file == "") {
                    alert('请选择要上传的文件!');
                    return;
                }
                var formData = new FormData($("#uploadForm")[0]);
                $.ajax({
                    url: "http://localhost:8088/printerJob/submitPrintJob?checkPrintEmailId=" + checkPrintEmailId,
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(returndata) {
                        alert(returndata);
                    },
                    error: function(returndata) {
                        alert(returndata);
                    }
                });
            });
        </script>
</body>

</html>